<ion-searchbar placeholder="{{placeholder}}" (ionInput)="getItems($event)"></ion-searchbar>
<ion-list *ngIf="stops.length > 0">
  <button ion-item *ngFor="let stop of stops" (click)="itemSelected(stop)">
    {{ stop.name }} {{stop.stop_name}}
  </button>
</ion-list>
