page-list {
  ion-list-header {
    border-bottom: 1px solid #CCCCCC;
    font-weight: 400;
  }
  .no-result {
    margin: 15px;
  }
  .schedule {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
