<ion-header>
  <ion-navbar>
    <ion-title>List Of Departures</ion-title>
    <ion-buttons start>
      <button ion-button (click)="close()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="lines.length > 0; else showNoResult">
    <ion-list *ngFor="let line of lines">
      <ion-list-header>
        Line: {{line.line}}
      </ion-list-header>
      <button class="schedule" ion-item *ngFor="let item of line.schedules">
        <div>
          <h3>Going to: {{item.direction}}</h3>
          <p>Operator Name: {{item.operator_name}}</p>
        </div>
        <ion-note>
          Depature: {{item.expected_departure_date}} {{item.aimed_departure_time}}
        </ion-note>
        <button ion-button clear item-end>Book</button>
      </button>
    </ion-list>
  </div>
  <ng-template #showNoResult>
    <div class="no-result">
      {{fetching ? "Loading... please wait..." : "No Result."}}
    </div>
  </ng-template>
</ion-content>
