<ngui-map
  zoom="15"
  [center]="center"
  (mapReady$)="onMapReady($event)"
  (mapClick)="onMapClick($event)"
  (idle)="onIdle($event)"
  (boundsChanged)="onBoundsChanged($event)"
  mapTypeId="roadmap">
  <info-window id="yourLocation">
    <div>
      You are here
    </div>
  </info-window>
  <marker
    [position]="center"
    (initialized$)="onYourLocationInit($event)"></marker>
  <marker *ngFor="let stop of stops"
    [icon]="{
      url: '../../assets/icon/bus.png',
      anchor: [16,16],
      size: [32,32],
      scaledSize: [32,32]
    }"
    [position]="{lat: stop.latitude, lng: stop.longitude}"
    (click)="onMarkerClick(stop, $event)"
    (initialized$)="onMarkerInit($event)"></marker>
    <info-window id="iw">
      <div *ngIf="selected !== null">
        {{selected.stop_name}}
      </div>
    </info-window>
</ngui-map>
