page-home {
  .home {
    display: flex;
    flex-direction: column;
    width: calc("100% - 32px");
    height: 100%;
    .controls {
      .selected-stop {
        margin: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        .selected-name {
          flex: 1;
        }
      }
    }
    .map-container {
      flex: 1;
      width: 100%;
      // height: 200px;
      background: red;
      display: flex;
      flex-direction: column;
    }
  }
}
