<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="home">
    <div *ngIf="bounds !== null" class="controls" [ngSwitch]="switch_expression">
      <search-stops
        [bounds]="bounds"
        *ngIf="stop === null; else showSelectedStop"
        (setStatus)="setStatus($event[0])"
        (onSelect)="setSelectedStop($event[0]); "
        placeholder="Search for terminal stop">
      </search-stops>
      <ng-template #showSelectedStop>
        <div class="selected-stop">
          <span class="selected-name">{{stop.name}} {{stop.stop_name}}</span>
          <button ion-button (click)="resetSearch()">Reset Search</button>
        </div>
      </ng-template>
    </div>
    <div class="map-container" *ngIf="currentLocation !== null">
      <mapsjs
        [center]="currentLocation"
        [selected]="stop"
        (setStatus)="setStatus($event[0])"
        (onChangeBounds)="onChangeBounds($event[0])"
        (onSelectTerminal)="onTerminalSelected($event[0])">
      </mapsjs>
    </div>
    <div class="status">{{status}}</div>
  </div>
</ion-content>
